* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffae6;
  }

  html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    height: 100%;
    padding: 30px;
  }

/* Header image and web page title */
  header > h1 {
    padding-block: 100px 50px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-image: url(header.png);  /* Imported header image designed on Figma */
    background-size: 100% ;
  }

/* Styling for subheadings "My Order" and "My Gallery" */
  h2 {
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

/* Styling for the main section which includes the order list and order gallery */
  main {
    display: grid; /* Two column grid to lay out elements in an organised manner */
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    max-width: 1280px; 
    margin: 0 auto;
    padding: 20px;
  }

/* Styling for each section column */
  main section {  
    height: 30vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

/* Styling for the left column 'My Order' */
  #orderform {
    width: 100%;
    padding: 8px 30px;
    border-radius: 10px;
  }

/* Styling for 'My Order'label  */
  #orderform label {
    font-size: 18px;
  } 

/* Styling for the size of the input boxes */
  #orderform input {
    margin-top: 10px;
    padding: 8px 10px;
    border-radius: 8px;
    border-width: thin;
    width: 70%;
  }

/* Styling for the size of the 'Size' and 'Rating' option boxes */
  #orderSize, #orderRating {
  margin-top: 10px;
  padding: 8px 10px;
  border-radius: 8px;
  border-width: thin;
  width: 70%;
}

/* Make the size of the 'Notes'input box bigger so users can write more text */
  #orderNotes {
    height: 100px;
  }

/* Add padding to the form rows for spacing  */
  .form-row {
    padding: 10px;
  }


  .input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

/* Styling for the + button to add more toppings  */
  #add-button {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background: grey;
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Make the button into a circle */
    border: none;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

/* Styling for the - button to delete toppings */
  .delete-button {
    background: grey;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  /* Edit the delete button to change the symbol */
  .delete-button::before {
    content: '-';
    font-size: 1.5 rem;
    color: white;
    
  }

/* Styling for the 'Save' button */
  .button input[type="submit"] {
    padding: 10px 15px;
    margin: 20px 0px;
    width: 50%;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #FFC0CB;
    color: black;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
#orderlist li {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

}

.delete-button {
  background-color: grey;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
  width: 60px;
  margin-top: 10px;
  
}

.delete-button::before {
  content: "";
}


 /* For smaller screens - responsiveness */
@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
